version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/landing"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "EndyKaufman"
    labels:
      - "dependencies"
      - "dependabot"