version: "3"
networks:
  study-network:
    driver: "bridge"
services:
  study_postgres:
    image: "public.ecr.aws/bitnami/postgresql:15.10.0"
    container_name: "study_postgres"
    networks:
      - "study-network"
    ports:
      - "45432:5432"
    healthcheck:
      test:
        - "CMD-SHELL"
        - "pg_isready -U study_username"
      interval: "5s"
      timeout: "5s"
      retries: 5
    tty: true
    restart: "always"
    environment:
      POSTGRESQL_USERNAME: "study_username"
      POSTGRESQL_PASSWORD: "study_password"
      POSTGRESQL_DATABASE: "study_database"
    volumes:
      - "study_postgres_volume:/bitnami/postgresql"
volumes:
  study_postgres_volume:
    name: "study_postgres_volume"
